---
const { tag } = Astro.props;
---

<div class="badge badge-primary p-2">
  {tag === 'WEB' && <span class="icon-web" />}
  {tag === 'MOBILE' && <span class="icon-mobile" />}
  {tag === '3D_MODEL' && <span class="icon-3d" />}
  <span class="text-primary-content font-bold pt-0.5 ml-[-4px]">{tag}</span>
</div>
