---
const { web = {} } = Astro.props;
---

<div class="mockup-browser border-gray-500 border-5 w-full shadow-lg">
  <div class="mockup-browser-toolbar">
    <div class="input text-gray-500">{web.website}</div>
  </div>
  <img src="/public/project/1_5.png" alt="#" />
</div>
