---
import ProjectProfile from '@components/layout/ProjectProfile.astro';
const { project } = Astro.props;
---

<div>
  <div class="mockup-browser border-gray-500 border-4 w-full shadow-lg">
    <div class="mockup-browser-toolbar">
      <div class="input text-gray-500">{project.web.website}</div>
    </div>
    <img src={project.web.webImg[0]} alt="#" />
  </div>
  <div class="mt-10">
    <ProjectProfile {project} />
  </div>
</div>
