{
    "plugins": ["prettier-plugin-astro"],
    "printWidth": 140,
    "singleAttributePerLine": false,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "bracketSameLine":true,
    "singleQuote": true,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "astroAllowShorthand": true
  }