---
import { BASE_INFO } from '@config';
import SocialList from '@components/index/SocialList.astro';
const today = new Date();
---

<footer>
  <div class="w-full py-8 px-4 text-center bg-secondary">
    <span class="font-neutral-content">&copy; {today.getFullYear()} {BASE_INFO.author}. All rights reserved.</span>
    <SocialList />
  </div>
</footer>
