---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '@config';
---

<header class="sticky top-0 px-3 bg-white shadow-[0_2px_8px_rgba(0,0,0,0.05)] z-100">
  <nav class="w-full flex items-center justify-between px-4 bg-white shadow-[0_2px_8px_rgba(0,0,0,0.05)]">
    <a class="text-black" href="/">{SITE_TITLE}</a>
    <div>
      <HeaderLink href="/">主页</HeaderLink>
      <HeaderLink href="/about">个人简历</HeaderLink>
    </div>
    <div class="hidden md:block"></div>
  </nav>
</header>
