---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  {href}
  class:list={['inline-block no-underline py-4 px-2 ', className, { 'active no-underline font-bold border-b-4 border-primary': isActive }]}
  {...props}>
  <slot />
</a>
