<!-- ---
import LayoutProject from '@layouts/Project.astro';
import PhoneShow from '@components/project/PhoneShow.astro';
---

<LayoutProject>
  <div class="flex gap-30">
    <PhoneShow />
    <div>
      <div>这里是项目介绍</div>
    </div>
  </div>
</LayoutProject> -->
