---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="无限滚动画廊" description="无限滚动画廊演示">
  <div class="flex items-center justify-center min-h-[60vh]">
    <p class="text-2xl text-gray-700 dark:text-gray-300">Hello World</p>
  </div>
</Layout>
