---
import list from './social-list.json';
---

<div class="flex justify-center items-center gap-3">
  {
    list.map((item) => (
      <a class="inline-flex no-underline filter grayscale hover:filter-none transition duration-200" href={item.link} target="_blank">
        <span class="sr-only">{item.description}</span>
        <span class={item.icon} />
      </a>
    ))
  }
</div>
