---
import BaseHead from '@components/layout/BaseHead.astro';
import Footer from '@components/layout/Footer.astro';

const { description } = Astro.props;
const title: string = 'Project';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <div class="fixed top-10 left-2 z-99">
      <button class="btn btn-primary btn-xl ml-2" onclick={'history.back()'}>返回</button>
    </div>
    <main
      class="min-h-[90vh] pb-[25vh] pt-15 px-4 sm:px-6 md:px-10 max-w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto">
      <slot />
    </main>
    <Footer < body />
  </body>
</html>
