---
import BaseHead from '@components/layout/BaseHead.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

const { description } = Astro.props;
const title: string = 'Project';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <Header />
    <main
      class="min-h-[90vh] p-4 sm:p-6 md:p-10 max-w-full sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
