---
import BaseHead from '@components/layout/BaseHead.astro';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

const { description } = Astro.props;
const title: string = 'Project';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
